:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background: linear-gradient(135deg, #89CFF0, #4A90E2);
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

html .MuiButton-root {
    text-transform: none;
!important;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

::-webkit-scrollbar {
    width: 1vw; /* Wider scrollbar for better usability */
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0; /* Softer track background */
    border-radius: 4px; /* Rounded edges */
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #90caf9, #42a5f5); /* Gradient for thumb */
    border-radius: 4px; /* Smooth, rounded thumb */
    border: 1px solid #428af5; /* Border to make the thumb more defined */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #42a5f5, #1e88e5); /* Darker gradient on hover */
}