@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #90caf9, #42a5f5);
    border-radius: 4px;
    border: 1px solid #428af5;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #42a5f5, #1e88e5);
}

/* Material UI button adjustment */
html .MuiButton-root, .MuiToggleButtonGroup-grouped {
    text-transform: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}