<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!-- Use one of the options based on your setup -->
        <property name="hibernate.connection.url">
            jdbc:postgresql://<server_path>>&amp;socketFactory=com.google.cloud.sql.postgres.SocketFactory
        </property>

        <property name="hibernate.connection.username">_</property>
        <property name="hibernate.connection.password">_</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="azar.cloud.entities.db.User"/>
        <mapping class="azar.cloud.entities.db.PdfFile"/>
        <mapping class="azar.cloud.entities.db.Preference"/>

    </session-factory>
</hibernate-configuration>
